<section ng-controller="HeaderController as vm">
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>박준하</strong>이에요</h1>
          </header>
          <p><strong>아침 7시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img src="/modules/core/client/img/images.jpeg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>이슬기</strong>이에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img src="/modules/core/client/img/team-1.jpg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>장세영</strong>이에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img ng-src="/modules/core/client/img/team-2.jpg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>전용원</strong>에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img src="/modules/core/client/img/test.jpg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>정유빈</strong>이에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img src="/modules/core/client/img/test2.jpg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>김유빈</strong>이에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img ng-src="/modules/core/client/img/team-4.jpg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>김후성</strong>에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img src="/modules/core/client/img/다운로드.jpeg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>한세라</strong>이에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img ng-src="/modules/core/client/img/team-5.jpg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>황수빈</strong>에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img ng-src="/modules/core/client/img/team-6.png" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>이성재</strong>에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>
  <div class="content color0 span-3-30">
    <article id="top">
      <div class="row">
        <span class="image fit"><img ng-src="/modules/core/client/img/team-7.jpg" alt="" /></span>
        <div >
          <header>
            <h1>반가워요!</h1>
            <h1>저는 <strong>한 철</strong>에요</h1>
          </header>
          <p><strong>아침 8시</strong>에 함께 일어날 사람을 찾고 있어요!</p>
        </div>
      </div>
    </article>
  </div>

</section>
